/* PRODUCTS */

section.products {
    
    display: grid;
    grid-template-areas:
    'title sugar'
    'title private-label'
    'title adventkalender'
    'title sweets'
    'title ads';
    margin-bottom: 100vh !important;
    margin-top: 100vh !important;
    margin-left: 5%;
    margin-right: 5%; 
}
.gridhuelle {
    display: grid;
    position: relative;
    grid-area: title;
    width: 100% !important;
    height: auto;

    align-items: center;

}
.gridhuelle h3 {
    color: white;
    z-index: 10;


}
.product-title {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    width: 100% !important;
    position: sticky !important;
    height: 100vh;
}



.sugar {
    display: grid;
    grid-area: sugar;
    background-color: red;
    z-index: 5;
    margin: 0 !important;
    height: auto;
    
}

.private-label {
    display: grid;
    grid-area: private-label;
    background-color: green;
    padding: 1em;
    height: auto;
}

.adventkalender {
    display: grid;
    grid-area: adventkalender;
    background-color: blue;
    padding: 1em;
    height: auto;
}

.sweets {
    display: grid;
    grid-area: sweets;
    background-color: yellow;
    padding: 1em;
    height: auto;
}

.ads {
    display: grid;
    grid-area: ads;
    background-color: orange;
    padding: 1em;
    height: auto;
}
