@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Raleway&display=swap');


/* VAR */
:root {
    --red: rgb(255, 111, 97);
    --white: #fff;
    --dark: rgb(25, 81, 144);
    --light: rgb(152, 221, 222);
  }
/* Allgemeine Einstellungen*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--red);
    background-color: var(--red);
    z-index: -1;
    transition: 0.5s ease-in-out;
}
body.changeColorBlue {
    background-color: var(--dark);
    transition: 0.5s ease-in-out;
}
header {
    display: grid;
    height: 100vh;
    margin-bottom: 30vh;
}
header.productsite {
    height: auto;
    margin-bottom: 0;
    margin-top: 100vh;
}
main {
    margin: 0 15%;
}
/* Main BG JPG */
.sugarpic {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/img/main_bg.jpeg);
    background-color: var(--white);
    background-size: cover;
     /* width=100%, height=auto */
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;

}

 /* MAIN TEXT */
.arrow {
    display: grid;
    justify-items: center;
    align-content: end;
}
h1  {
    display: grid;
    justify-items: center;
    padding: 20px;
    font-family: raleway, sans-serif;
    line-height: 3.5rem;
    font-size: 2.3rem;
    margin-top: 35vh;
 }
 h2 {
     font-size: 2.5rem;
     color: var(--white);
     margin-bottom: 30vh;
 }


/* Heading Textboxes */
h3.white {

     color: var(--white);
     font-size: 3rem;
     border: 4px solid var(--white);
     padding: 1.7rem;


}
h3.blue {
    color: var(--white);
    font-size: 3rem;
    border: 4px solid var(--white);
    padding: 1.3rem 2.5rem;

}
h4 {
    color: var(--dark);


}
 .landingpage {
     display: grid;
     height: 100vh;
 }
 .maxime {
     
     margin-left: 20%;
     margin-right: 20%;
     text-align: center;
 }


/* NAVIGATION */
.wrapper {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: auto;
    
}
.wrapper.changeColorWhite {
    transition: 1.5s ease-in-out;
    background-color: var(--dark);
}
.wrapper.changeColorLight {
    background-color: var(--light);
}

.navlogo {
    display: grid;
    justify-items: left;
    padding: 20px;
    z-index: 2;
}
.navcontain {
    display: grid;
    padding: 20px;
    justify-content: right;
}
.main-nav ul {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}
.main-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--red);
    font-size: 1.3rem;
    padding: 0px 5px ;
}
.main-nav a:hover,
.main-nav a.active {
    background-color: var(--red);
    color: var(--white);
    font-size: 1.3rem;
    transition: 0.5s ease-in-out;
}
.social {
    display: none;
}


/* BOXES */
/* between landing page and products */
.missioncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30vh;
}

/* between products footer */
.containerboxpic {
    display: grid;
    height: auto;
}
.spacebox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/sugar2.jpeg);
    background-size: cover;
    margin-left: 10%;
}
.containerboxpic2 {
    display: grid;
    height: auto;
}
.spacebox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/1x/1Zeichenfläche\ 1.png);
    background-size: cover;
    margin-left: 10%;
}


.containerbox1 {
    display: grid;
    height: 55vh;
}

.mission {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--dark);
    justify-content: center;
    opacity: 1;
    padding: 1em 2em;
    font-size: 1em;
    margin-right: 10%;
    line-height: 1.4em;

}
.containerbox2 {
    display: grid;
    height: 55vh;
}
.about {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--light);
    justify-content: center;
    opacity: 1;
    padding: 1em 2em;
    font-size: 1em;
    margin-right: 10%;
    line-height: 1.4em;
}

.textbox {
    margin: 0.3em;
    font-family: raleway, sans-serif;
    color: var(--white);
}

/* BOXES END */

/* STRICHE */
.mission::before {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--red);
    height: 5px;
    top: 8%;
    left: 50%;
    margin-left: -75px;

}
.mission::after {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--red);
    height: 5px;
    top: 92%;
    left: 50%;
    margin-left: -75px;

}
.about::before {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--dark);
    height: 5px;
    top: 8%;
    left: 50%;
    margin-left: -75px;

}
.about::after {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--dark);
    height: 5px;
    top: 92%;
    left: 50%;
    margin-left: -75px;
}

/* PRODUCTS */
.products.displaynone {
    display: none;
}
section.products {
    height: 500vh;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40vh;
    margin-left: 5%;
    margin-right: 5%;

}
.product-title {
    width: 50%;
    height: 100vh;
    display: flex;
    background-color: white !important;
    justify-content: center;
    align-items: center;
    margin: 0 !important;


}
.product-pages {
        width: 50%;
    }
.sugar {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: red;

}

.private-label {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.adventkalender {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: blue;
}

.sweets {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: yellow;
}

.ads {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: orange;
}
/* FOOTER */
.footer {
    position: relative;
}
#footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerlogo {
    margin-bottom: 10vh;
}
.footerlogo::before {
    position: absolute;
    content: '';
    width: 20vw;
    left: 5%;
    top: 0;
    background-color: var(--light);
    height: 5px;  
}
.footerlogo::after {
    position: absolute;
    content: '';
    width: 20vw;
    right: 5%;
    top: 0;
    background-color: var(--light);
    height: 5px;  
}
.mainfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 10vh;
    height: 25vh;
}
.footerleft {
    display: grid;
}
.footercenter {
    display: grid;
}
.footerright {
    display: grid;
}
.socialfooter {
    color: white;
    display: flex;
    flex-direction: row;
}

/*MEDIA QUERIES */

@media (max-width: 626px) {
    main {
        margin: 0;
    }
    .missioncontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .containerboxpic {
        height: 30vh;
    }
    .containerboxpic2 {
       height:  30vh;
    }
    .containerbox1 {
        height: 50vh;
    }
    .about {
        font-size: 1em !important;
    }
    .mission {
        font-size: 1em !important;
    }
}
@media (min-width: 626px) {
    .mission {
        margin-top: -4em;
        margin-bottom: 4em;
    }
    .about {
        margin-top: -4em;
        margin-bottom: 4em;
    }
}
@media (min-width: 950px) {
    main {
        margin: 0;
    }
}
@media (max-width: 950px) {
    main {
        margin: 0;
    }

    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: var(--red);
        padding-top: 30%; /* to align the navbar toggle vertically */
        z-index: 2;
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 40px;
    }
    nav {
        display: none;
    }
    .main-nav.active {
        display: block;
        position: absolute;
        right: 0;
        top: 7vh;
        height: auto;
        width: 100%;
        background-color: var(--dark);
        overflow: hidden;
    }
    .main-nav.active ul {
        display: block;
        height: 100vh;
        width: 100%;
        margin-top: 10em;
    }
    .main-nav.active ul li a {
        font-size: 2rem;
        margin: 10px;
    }
    .wrapper.active {
        background-color: var(--dark);
    }
    .social.active {
        display: flex;

        margin-top: 25%;
        justify-content: center;
        }
    .social.active li a {
        color: var(--red);
        padding: 0;
        margin: 0;
    }
    .social.active li a:hover {
    background-color: transparent;
    color: rgb(238, 153, 147);
    }
    .about {
        font-size: 0.8em;
    }
    .mission {
        font-size: 0.8em;
    }
}
@media (min-width: 1200px) {
    main {
        margin: 0; /* 15% waren seitlich */
    }
}
footer p {
    color: var(--white);
}


/* END MEDIA QUERIES */

/* STRICHE ENDE */