@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Raleway&display=swap');


/* VAR */
:root {
    --red: rgb(255, 111, 97);
    --white: #fff;
    --dark: rgb(25, 81, 144);
    --light: rgb(152, 221, 222);
    --verydark: rgb(38, 48, 86);
    --pink: rgb(222, 152, 171);
    --yellow: rgb(255, 218, 41);
  }
/* Allgemeine Einstellungen*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--red);
    background-color: var(--red);
    z-index: -1;
    transition: 0.5s ease-in-out;
}
body.changeColorBlue {
    background-color: var(--dark);
    transition: 0.5s ease-in-out;
}
header {
    display: grid;
    height: 100vh;
    margin-bottom: 30vh;
}
header.productsite {
    height: auto;
    margin-bottom: 0;
    margin-top: 100vh;
}
main {
    margin: 0 15%;
}
/* Main BG JPG */
.sugarpic {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/img/main_bg.jpeg);
    background-color: var(--white);
    background-size: cover;
     /* width=100%, height=auto */
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;

}

 /* MAIN TEXT */
.arrow {
    display: grid;
    justify-items: center;
    align-content: end;
}
h1  {
    display: grid;
    justify-items: center;
    padding: 20px;
    font-family: raleway, sans-serif;
    line-height: 3.5rem;
    font-size: 2.3rem;
    margin-top: 35vh;
 }
 h2 {
     font-size: 2.5rem;
     color: var(--white);
     margin-bottom: 30vh;
 }


/* Heading Textboxes */
h3.white {

     color: var(--white);
     font-size: 3rem;
     border: 4px solid var(--white);
     padding: 1.7rem;


}
h3.blue {
    color: var(--white);
    font-size: 3rem;
    border: 4px solid var(--white);
    padding: 1.3rem 2.5rem;

}
h4 {
    color: var(--dark);


}
 .landingpage {
     display: grid;
     height: 100vh;
 }
 .maxime {
     
     margin-left: 20%;
     margin-right: 20%;
     text-align: center;
 }


/* NAVIGATION */
.wrapper {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    height: auto;
    
}
.wrapper.changeColorWhite {
    transition: 1.5s ease-in-out;
    background-color: var(--dark);
}
.wrapper.changeColorLight {
    background-color: var(--light);
}

.navlogo {
    display: grid;
    justify-items: left;
    padding: 20px;
    z-index: 2;
}
.navcontain {
    display: grid;
    padding: 20px;
    justify-content: right;
}
.main-nav ul {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}
.main-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--red);
    font-size: 1.3rem;
    padding: 0px 5px ;
}
.main-nav a:hover,
.main-nav a.active {
    background-color: var(--red);
    color: var(--white);
    font-size: 1.3rem;
    transition: 0.5s ease-in-out;
}
.social {
    display: none;
}


/* BOXES */
/* between landing page and products */
.missioncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30vh;
}

/* between products footer */
.containerboxpic {
    display: grid;
    height: auto;
}
.spacebox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/sugar2.jpeg);
    background-size: cover;
    margin-left: 10%;
}
.containerboxpic2 {
    display: grid;
    height: auto;
}
.spacebox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/1x/1Zeichenfläche\ 1.png);
    background-size: cover;
    margin-left: 10%;
}


.containerbox1 {
    display: grid;
    height: 55vh;
}

.mission {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--dark);
    justify-content: center;
    opacity: 1;
    padding: 1em 2em;
    font-size: 1em;
    margin-right: 10%;
    line-height: 1.4em;

}
.containerbox2 {
    display: grid;
    height: 55vh;
}
.about {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--light);
    justify-content: center;
    opacity: 1;
    padding: 1em 2em;
    font-size: 1em;
    margin-right: 10%;
    line-height: 1.4em;
}

.textbox {
    margin: 0.3em;
    font-family: raleway, sans-serif;
    color: var(--white);
}

/* BOXES END */

/* STRICHE */
.mission::before {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--red);
    height: 5px;
    top: 8%;
    left: 50%;
    margin-left: -75px;

}
.mission::after {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--red);
    height: 5px;
    top: 92%;
    left: 50%;
    margin-left: -75px;

}
.about::before {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--dark);
    height: 5px;
    top: 8%;
    left: 50%;
    margin-left: -75px;

}
.about::after {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--dark);
    height: 5px;
    top: 92%;
    left: 50%;
    margin-left: -75px;
}

/* PRODUCTS */
/* Grid for Products over 600px */
section.products {
    
    display: grid;
    grid-template-areas:
    'title sugar'
    'title private-label'
    'title adventkalender'
    'title sweets'
    'title ads';
    margin-bottom: 100vh !important;
    margin-top: 100vh !important;
    margin-left: 5%;
    margin-right: 5%;
}
.gridhuelle {
    display: grid;
    position: relative;
    grid-area: title;
    width: 100% !important;
    height: auto;
    align-items: center;
}
.gridhuelle h3 {
    color: white;
    z-index: 10;
}
.product-title {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    width: 100% !important;
    position: sticky !important;
    height: 100vh;
}
.sugar {
    display: grid;
    grid-area: sugar;
    background-color: var(--red);
    margin: 0 !important;
    height: auto;   
}

.private-label {
    display: grid;
    grid-area: private-label;
    background-color: var(--verydark);
    padding: 1em;
    height: auto;
}
.adventkalender {
    display: grid;
    grid-area: adventkalender;
    background-color: var(--red);
    padding: 1em;
    height: auto;
}
.sweets {
    display: grid;
    grid-area: sweets;
    background-color: var(--verydark);
    padding: 1em;
    height: auto;
}
.ads {
    display: grid;
    grid-area: ads;
    background-color: var(--red);
    padding: 1em;
    height: auto;
}
/* Grid Frame for Products over 600 px */

/* Content Products */
.bannerbox {
    position: absolute;
    display: flex;
    height: 100%;
    background-color: var(--yellow);
    width: 90%;
    left: 5%;
    align-items: center;
    justify-content: center;
    margin: auto;
    opacity: 0.7;
}
.banner {
    position: absolute;
    width: 100%;
    height: 15vh;
    background-color: var(--pink);
    
}

/* FOOTER */
.footer {
    position: relative;
    background-color: var(--verydark);
}
#footerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footerlogo {
    margin-bottom: 10vh;
    position: relative;
    top: 3em;
}
.footerlogo::before {
    position: absolute;
    content: '';
    width: 20vw;
    left: 5%;
    top: 2em;
    background-color: var(--light);
    height: 2px;  
}
.footerlogo::after {
    position: absolute;
    content: '';
    width: 20vw;
    right: 5%;
    top: 2em;
    background-color: var(--light);
    height: 2px;  
}
.mainfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 10vh;
    height: 10vh;
}
.footerleft {
    display: grid;
    align-content: center;
}
.footercenter {
    display: grid;
    align-content: center;
}
.footerright {
    display: grid;
    align-content: center;
}
.socialfooter ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white);
    list-style: none;
}
.socialfooter ul li a {
    padding: 3vh;
    color: var(--white);
    opacity: 0.8;
}
.socialfooter ul li a:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;

}

.footerleft ul {
    list-style: none;
}
.footerleft ul li {
    color: var(--white);
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}
.footerleft ul li:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.footerright ul {
    list-style: none;
}
.footerright ul li {
    color: var(--white);
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
}
.footerright ul li:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.footer .copyright {
    color: white;
    text-align: center !important;
    font-family: raleway, sans-serif !important;
    text-transform: uppercase;
    padding-bottom: 10px;
}

/*MEDIA QUERIES */

@media (max-width: 626px) {
    main {
        margin: 0;
    }
    .missioncontainer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .containerboxpic {
        height: 30vh;
    }
    .containerboxpic2 {
       height:  30vh;
    }
    .containerbox1 {
        height: 50vh;
    }
    .about {
        font-size: 1em !important;
    }
    .mission {
        font-size: 1em !important;
    }
}
@media (min-width: 626px) {
    .mission {
        margin-top: -4em;
        margin-bottom: 4em;
    }
    .about {
        margin-top: -4em;
        margin-bottom: 4em;
    }
}
@media (min-width: 950px) {
    main {
        margin: 0;
    }
}
@media (max-width: 950px) {
    main {
        margin: 0;
    }

    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: var(--red);
        padding-top: 30%; /* to align the navbar toggle vertically */
        z-index: 2;
    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 40px;
    }
    nav {
        display: none;
    }
    .main-nav.active {
        display: block;
        position: absolute;
        right: 0;
        top: 7vh;
        height: auto;
        width: 100%;
        background-color: var(--dark);
        overflow: hidden;
    }
    .main-nav.active ul {
        display: block;
        height: 100vh;
        width: 100%;
        margin-top: 10em;
    }
    .main-nav.active ul li a {
        font-size: 2rem;
        margin: 10px;
    }
    .wrapper.active {
        background-color: var(--dark);
    }
    .social.active {
        display: flex;
        margin-top: 25%;
        justify-content: center;
        }
    .social.active li a {
        color: var(--red);
        padding: 0;
        margin: 0;
    }
    .social.active li a:hover {
    background-color: transparent;
    color: rgb(238, 153, 147);
    }
    .about {
        font-size: 0.8em;
    }
    .mission {
        font-size: 0.8em;
    }
}
@media (min-width: 1200px) {
    main {
        margin: 0; /* 15% waren seitlich */
    }
}
footer p {
    color: var(--white);
}


/* END MEDIA QUERIES */

/* STRICHE ENDE */