@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Raleway&display=swap');


/* VAR */
:root {
    --red: #D6625A;
    --white: #fff;
    --dark: #537AA6;
    --light: #D9F3FB;
  }
/* Allgemeine Einstellungen*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif; /* black muss noch runtergeladen werden */
    font-weight: 900;
    color: var(--red);
}

 .sugarpic {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/img/main_bg.jpeg);
    background-color: var(--white);
    background-size: cover;
     /* width=100%, height=auto */
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.65;
    
 }
 .h1container {
     display: grid;
     grid-template-columns: 1fr;
     width: 100%;
     justify-items: center;
     
 }
 h1  {
    display: grid;
    justify-items: center;
    padding: 20px;
    font-family: raleway, sans-serif;
    line-height: 3.5rem;
    font-size: 2.3rem;
    margin-top: 1.5em;
 }
 h2 {
     color: var(--red);
     margin-bottom: 1.5em;
}
h2.blue {
    color: var(--dark);
}
 .mainsite {
     display: grid;
     height: 100vh;
 }


/* NAVIGATION */
header {
    position: relative;
    height: 14vh;
    background-color: var(--white);
    background-color: transparent;
    
    
    /*border: 5px solid white; /* nur um besser das NAV zu sehen */    
}


.wrapper {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    z-index: 10;
    background-color: transparent;
    width: 100%;
    height: 14vh;
    
    }
    .wrapper.changeColor {
        background-color: white;
        transition: 1.5s ease-in-out;

    }

.navlogo {
    display: grid;
    justify-items: left;
    padding: 20px;   
}
.navcontain {
    display: grid;
    padding: 20px;
    justify-content: right;    
}
.main-nav ul {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
}
.main-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--red);
    font-size: 1.3rem;
    padding: 0px 5px ;       
}
.main-nav a:hover,
.main-nav a.active {
    background-color: var(--red);
    color: var(--white);
    font-size: 1.3rem;
    transition: 0.5s ease-in-out;
}
.social {
    display: none;
}
#mainlogo {
    background-size: cover;
}
/*Media Queries */
@media (max-width: 950px) {



    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: var(--red);
        padding-top: 30% /* to align the navbar toggle vertically */
    }

    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before {
        content: '\f00d';
        font-family: fontAwesome;
        line-height: 40px;
    }
    nav {
        display: none;
    }
    .main-nav.active {
        display: block;
        position: absolute;
        right: 0;
        top: 14vh;
        height: 84vh;
        width: 100%;
        background-color: var(--white);
        
        
    }
    .main-nav.active ul {
        display: block;
        height: 100vh;
        width: 100%;  
    }
    .main-nav.active ul li a {
        font-size: 2rem;
        margin: 10px;
    }
    .header.active {
        background-color: var(--white);
    }
    .social.active {
        display: flex;
        
        margin-top: 25%;
        justify-content: center;
        }
    .social.active li a {
        color: var(--red);
        padding: 0;
        margin: 0;
    }
    .social.active li a:hover {
    background-color: transparent;
    color: rgb(238, 153, 147);
    
    }
}
/* END MEDIA QUERY */


.arrow {
    display: grid;
    justify-items: center;
    align-items: end;
}
/* BOXEN */
.spacebox1 {
    display: grid;
    height: 25vh;
    margin-top: 20vh;
}
.spacebox2 {
    display: grid;
    height: 30vh;
    background: url(/img/sugar2.jpeg);
    background-size: cover; 
}
.innerspace {
    display: grid;

    border: 5px solid var(--dark);
    margin: 1.3em 0.8em;
    color: var(--dark);
    opacity: 0.8;
    
    
}
.aboutbox1 {
    display: grid;
    background-color: var(--red);
    height: 80vh;
}
.containerbox1 {
    display: grid;
    position: relative;
    margin: 1.3em 0.8em;
    background-color: var(--white);
    align-content: center;
    opacity: 0.75;
    padding: 2.5em;
    font-size: 1.1rem;
}
.aboutbox2 {
    display: grid;
    background-color: var(--dark);
    height: 80vh;
}
.containerbox2 {
    display: grid;
    position: relative;
    margin: 1.3em 0.8em;
    background-color: var(--white);
    align-content: center;
    opacity: 0.75;
    padding: 2.5em;
    font-size: 1.1rem;
}

.textboxred {
    margin: 0.5em;
    font-family: raleway, sans-serif;
}
.textboxblue {
    margin: 0.5em;
    font-family: raleway, sans-serif;
    color: var(--dark);
}
/* BOXEN ENDE */

/* STRICHE */
.mission::before {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--dark);
    height: 5px;
    top: 8%;
    left: 50%;
    margin-left: -75px;

}
.mission::after {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--dark);
    height: 5px;
    top: 92%;
    left: 50%;
    margin-left: -75px;

}
.about::before {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--red);
    height: 5px;
    top: 5%;
    left: 50%;
    margin-left: -75px;

}
.about::after {
    position: absolute;
    content: '';
    width: 150px;
    background-color: var(--red);
    height: 5px;
    top: 95%;
    left: 50%;
    margin-left: -75px;
}
/* STRICHE ENDE */
/*
#mainlogo {
    width: 15%;
    height: auto;
    float: left;
}
nav {
    float: right;
    padding: 10px;
}
.clearfix {
    clear: both;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #D6625A;
    font-size: 1.2rem;
}
nav ul li a.active,
nav ul li a:hover {
    color: white;
    background: #D6625A;
    transition: 0.5s ease-in-out;
}
@media (max-width: 950px) {
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #D6625A;

    }
    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    nav {
        display: none;
    }
    #mainlogo {
        width: 50%;
        height: auto;
        
    }

}

